@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


main{
    max-width: 1200px;
    margin: 0 auto;
}


/*-----------------------
    header starts here
------------------------*/


.nav-area{
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}


.logo{
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
}


.menu-items ul{
    display: flex;
    list-style: none;
    z-index: 99;
}


.menu-items ul li{
    white-space: nowrap;
    margin: 5px 15px;
}


.menu-items ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
}


.cart{
    font-size: 25px;
}


#toggler{
    display: none;
}


.fas.fa-bars{
    display: none;
    font-size: 25px;
}


/*-----------------------
    header ends here
------------------------*/

/*---------------------------- 
    top banner starts here
-----------------------------*/


.top-banner{
    padding: 50px 120px;
    display: flex;
    align-items: center;
}


.text-area{
    margin: 20px;
    width: 50%;
}


.image-area{
    width: 50%;
}


.banner-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    padding-bottom: 20px;
}


.banner-description{
    font-weight: 600;
    font-size: 18px;
}


.pre-btn, .check-out-btn{
    margin-top: 20px;
    border-radius: 20px;
    background-color:#808000;
    border: none;
}


.pre-btn a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    color: white;
}


.fas{
    margin-left: 7px;
}


.image-area img{
    width: 100%;
}


.image-area{
    transition: .25s linear;
}


.image-area:hover{
   transform: scale(1.2);
}


/*---------------------------- 
    top banner ends here
-----------------------------*/

/*-----------------------------
    partner sections starts
 -----------------------------*/


.partner{
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-image: linear-gradient(to right, white,  lightgray, white );
    border-image-slice: 1;
    margin: 20px 150px;
}


.partner img{
    display: inline-block;
    width: 84px;
    height: 26px;
    margin: 20px 20px;
}


/*-----------------------------
    partner sections ends
 -----------------------------*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- 
    Popular Collection sections starts
-- -- -- -- -- -- -- -- -- -- -- -- -- --*/


.popular-collection{
    padding: 50px 200px;
}


.section-title h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
}


.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}


.popular-item{
    background-color: #FFFFFF;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px 2px lightgray;
    -moz-box-shadow: 0 0 10px 2px lightgray;
    box-shadow: 0 0 10px 2px lightgray;
}


.popular-item img{
    width: 100%;
}


.item-title{
    font-size: 28px;
    margin: 16px 0;
}


.item-price{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}


.item-rating{
    padding-bottom: 10px;
}


.fa-star{
    color: #FB8200;
}


.item-rating span{
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
}


.short-description{
    font-size: 16px;
    font-weight: 600;
}


.see-more-btn{
    margin-top: 50px;
    text-align: right;
}


.see-more-btn button{
    border: none;
    background: none;
}


.see-more-btn button a{
    text-decoration: none;
    color: #808000;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
}


/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- 
    Popular Collection sections ends
-- -- -- -- -- -- -- -- -- -- -- -- -- --*/

/*-- -- -- -- -- -- -- -- -- -- -- -- 
    Recent Section Starts here
-- -- -- -- -- -- -- -- -- -- -- --*/


.recently-added{
    margin: 0 150px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}


.recent-image img{
    width: 100%;
    border-radius: 10px;
}


.recent-description{
    margin-left: 50px;
    margin-top: 20px;
}

.recent-description p{
    font-size: 18px;
    font-weight: 600;
}
.r-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.check-out-btn {
    margin-top: 25px;
}


.check-out-btn a{
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: white;
}


/*-- -- -- -- -- -- -- -- -- -- -- -- 
    Recent Section ends here
-- -- -- -- -- -- -- -- -- -- -- --*/

/*-- -- -- -- -- -- -- -- --  
    Footer Starts here
-- -- -- -- -- --  -- -- --*/


.footer-area{
    height: 200px;
    background-color: #0A0826;
    text-align: center;
    padding-top: 50px;
    color: white;
}


.fab{
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}


/*-- -- -- -- -- -- -- -- --  
    Footer ends here
-- -- -- -- -- --  -- -- --*/





/* ----------------------------
    media query  starts here
------------------------------*/


@media only screen and (max-width:688px) {
    .logo{
        display: block;
        width: 200px;
        margin: 0 auto;
    }


    .menu-items ul{
        display: block;
        position: absolute;
        top: 95px;
        left: 0px;
        right: 0px;
        background-color: #808000;
        text-align: center;
        transform: translateY(-500px);
        transition: .2s linear;
    }

    #toggler:checked ~ .menu-items ul{
        transform: translateY(0);
    }


    .menu-items ul li{
        margin: 10px auto;
    }


    .cart{
        position: absolute;
        margin-right: 0;
        right: 30px;
        top: 30px;
    }


    .fas.fa-bars{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
     }


    .top-banner{
        flex-direction: column;
        padding: 50px 50px;
    }


    .text-area{
        order: 2;
        width: 100%;
    }


    .banner-title{
        font-size: 40px;
        line-height: 50px;

    }
    
    .image-area{
        margin: 30px;
        width: 100%;
    }
    
    .partner{
        margin: 20px 50px;
    }


    .popular-collection{
        padding: 50px 50px;
    }


    .popular-items{
        grid-template-columns:  1fr;
    }


    .recently-added{
        margin: 0 50px;
        flex-direction: column;
    }


    .recent-description{
        margin-left: 0px;
        margin-top: 20px;

    }


}


@media only screen and (min-width:689px) and (max-width:922px) {

    .nav-area{
        padding: 0 60px;
    }
    .top-banner{
        flex-direction: column;
        padding: 50px 100px;
    }


    .text-area{
        order: 2;
        width: 100%;
    }

    
    .image-area{
        margin: 30px;
        width: 75%;
    }
    
    .partner{
        margin: 20px 100px;
    }

    .popular-collection{
        padding: 50px 100px;
    }


    .popular-items{
        grid-template-columns: 1fr 1fr;
    }


    
    .recently-added{
        margin: 0 100px;
        flex-direction: column;
    }


    .recent-description{
        margin-left: 0px;
        margin-top: 20px;

    }
}

/* ----------------------------
    media query  ends here
------------------------------*/