@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    
}

main{
    max-width: 1200px;
    margin: 0 auto;
    
}
/*-----------------------
    header starts here
------------------------*/
.nav-area{
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 100px;
    font-weight: 700;
    font-size: 24px;
}

.menu-items ul{
    display: flex;
    list-style: none;
    z-index: 99;
    
}

.menu-items ul li{
    margin: 5px 15px;
}

.menu-items ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.cart{
    margin-right: 100px;
    font-size: 25px;
}
/*-----------------------
    header ends here
------------------------*/

/*---------------------------- 
    top banner starts here
-----------------------------*/

.top-banner{
    margin: 50px 0; 
    display: flex;
    align-items: center;
    
}

.text-area{
    margin-left: 100px;
}
.banner-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    padding-bottom: 20px;
}

.banner-description{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    
}

.pre-btn, .check-out-btn{
    border-radius: 20px;
    background-color:#808000;
    border: none;
}
.pre-btn a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    color: white;
}

.fas{
    margin-left: 7px;
}

.image-area img{
    margin: 50px 50px;
    
}
.image-area{

transition: .25s linear;
}
.image-area:hover{
   transform: scale(1.2);
}


/*---------------------------- 
    top banner ends here
-----------------------------*/

/*-----------------------------
    partner sections starts
 -----------------------------*/
.partner{
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-image: linear-gradient(to right, white,  lightgray, white );
    border-image-slice: 1;
    padding: 20px;
}

.partner img{
    display: inline-block;
    padding: 10px 20px;
}

/*-----------------------------
    partner sections ends
 -----------------------------*/


/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- 
    Popular Collection sections starts
-- -- -- -- -- -- -- -- -- -- -- -- -- --*/

.popular-collection{
    padding: 50px 0;
    margin: 0 100px;
}

.section-title h2{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}

.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.popular-item{
    background-color: #FFFFFF;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px 2px lightgray;
    -moz-box-shadow: 0 0 10px 2px lightgray;
    box-shadow: 0 0 10px 2px lightgray;
}

.popular-item img{
    width: 300px;
}

.item-title{
    font-size: 28px;
    margin: 16px 0;
}

.item-price{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}

.item-rating{
    padding-bottom: 10px;
}
.fa-star{
    color: #FB8200;
}

.item-rating span{
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
}

.short-description{
    font-size: 18px;
    font-weight: 700;
}

.see-more-btn{
    margin-top: 50px;
    text-align: right;
}

.see-more-btn button{
    border: none;
    background: none;
}

.see-more-btn button a{
    text-decoration: none;
    color: #808000;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
}

/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- 
    Popular Collection sections ends
-- -- -- -- -- -- -- -- -- -- -- -- -- --*/

/*-- -- -- -- -- -- -- -- -- -- -- -- 
    Recent Section Starts here
-- -- -- -- -- -- -- -- -- -- -- --*/

.recently-added{
    margin: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.recent-image img{
    width: 450px;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.r-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.r-description{
    width: 400px;
    padding-bottom: 20px;
    font-size: 18px;
}

.check-out-btn a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    color: white;
}

/*-- -- -- -- -- -- -- -- -- -- -- -- 
    Recent Section ends here
-- -- -- -- -- -- -- -- -- -- -- --*/

/*-- -- -- -- -- -- -- -- --  
    Footer Starts here
-- -- -- -- -- --  -- -- --*/

.footer-area{
    height: 200px;
    background-color: #0A0826;
    text-align: center;
    padding-top: 50px;
    color: white;
}

.fab{
    font-size: 25px;
    margin: 10px;
}


/*-- -- -- -- -- -- -- -- --  
    Footer ends here
-- -- -- -- -- --  -- -- --*/


#toggler{
    display: none;
}

.fas.fa-bars{
    display: none;
    font-size: 25px;
}

/* ----------------------------
    media query  starts here
------------------------------*/

@media only screen and (max-width:688px) {
    .logo{
        display: block;
        width: 200px;
        margin: 0 auto;
        
    }
    .menu-items ul{
        display: block;
        position: absolute;
        top: 95px;
        left: 0px;
        right: 10px;
        background-color: #808000;
        text-align: center;
        transform: translateY(-400px);

    }

    .menu-items ul li{
        margin: 10px auto;
    }

    .cart{
        position: absolute;
        margin-right: 0;
        right: 30px;
        top: 30px;
    }

    .fas.fa-bars{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        
    }
    #toggler:checked ~ .menu-items ul{
        transform: translateY(0);
        
    }

    .top-banner{
    flex-direction: column;
        
    }

    .text-area{
        order: 2;
    }

    .popular-items{
        grid-template-columns:  1fr;
    }

    .popular-item img{
        width: 500px;
    }

    .see-more-btn button{
        margin-right: -70px;
    }
    
    .recently-added{
        grid-template-columns: 1fr;
     
    }

    .recent-image img{
        margin: 0;
        width: 520px;
 
    }

}



@media only screen and (min-width:689px) and (max-width:922px) {
    .top-banner{
    flex-direction: column;
    }
    
    .text-area{
        order: 2;
    }
    
    .popular-items{
        grid-template-columns: 1fr 1fr;
    }

    .see-more-btn button{
        margin-right: -70px;
    }
    
    .recently-added{
        grid-template-columns: 1fr;
     
    }

    .recent-image img{
        width: 650px;
        margin: 0;
 
    }

}

/* ----------------------------
    media query  starts here
------------------------------*/